baseURL = "https://gocnhintoancanh.netlify.app/"
languageCode = "vi"
title = "Góc Nhìn Toàn Cảnh"

[pagination]
  pagerSize = 10

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true
