{{- $cards := slice -}}

{{- range site.RegularPages -}}
  {{- if and (eq .File.Dir "tarot/la-bai/") (ne .File.BaseFileName "_index") -}}

    {{- $cards = $cards | append (dict
      "title" .Title
      "slug" .Slug
      "image" (.Params.image | default "")
      "summary" (.Params.summary | default "")
      "emotion" (.Params.emotion | default slice)
      "guidance" (.Params.guidance | default slice)
      "reading" (.Params.reading | default dict)
    ) -}}

  {{- end -}}
{{- end -}}

<script id="tarot-data" type="application/json">
{{ $cards | jsonify }}
</script>
