{{- $cards := slice -}}

{{- $section := site.GetPage "section" "tarot/la-bai" -}}
{{- if $section -}}
  {{- range $section.Pages -}}
    {{- if ne .File.BaseFileName "_index" -}}

      {{- $cards = $cards | append (dict
        "title" .Title
        "slug" .Slug
        "image" (.Params.image | default "")
        "summary" (.Params.summary | default "")
        "emotion" (.Params.emotion | default slice)
        "guidance" (.Params.guidance | default slice)
        "reading" (.Params.reading | default dict)
      ) -}}

    {{- end -}}
  {{- end -}}
{{- end -}}

<script id="tarot-data" type="application/json">
{{ $cards | jsonify | safeJS }}
</script>
