{{ define "main" }}

  {{ partial "section-hero.html" . }}

  <section class="section-body">
    <ul class="section-list">
      {{ range .Pages }}
        <li class="section-item">
          <h2 class="section-item-title">
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          </h2>

          <div class="section-item-meta">
            {{ .Date.Format "02/01/2006" }}
          </div>

          <p class="section-item-desc">
            {{ with .Params.description }}
              {{ . }}
            {{ else }}
              {{ .Summary | plainify | truncate 160 }}
            {{ end }}
          </p>
        </li>
      {{ end }}
    </ul>
  </section>

{{ end }}
